
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>售奶记录</title>
</head>
<body>
    <div>
        进罐

        质量，价格，数量

        按现有做。问小钟。
    </div>
</body>
</html>
