@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>用户管理</title>
    <link rel="stylesheet" type="text/css" href="../../ligerUI/skins/Aqua/css/ligerui-all.css">
    <link rel="stylesheet" type="text/css" href="../../Style/base.css">
    <script type="text/javascript" src="../../Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="../../cripts/jquery-tools-min.js"></script>
    <script type="text/javascript" src="../../Scripts/json2.js"></script>
    <script type="text/javascript" src="../../ligerUI/js/ligerui.min.js"></script>
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap-theme1.min.css">
    <script type="text/javascript" src="../../bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        var userID = "@ViewBag.UserID";

        $(function () {
            loadFodderList();

            $("#userSelector").change(function () {
                userID = $('#userSelector').val();
                loadFodderList(userID);
            });
        })

        function loadFormulaList() {
            $.ajax({
                type: 'get',
                url: "../../Users/User/GetUserList",
                cache: false,
                dataType: "json"
            }).success(function (user) {
                if (user) {
                    $("#userSelector").empty();
                    $.each(user, function () {
                        $('#userSelector').append('<option value="' + this.ID + '">' + this.Name + '</option>');
                    });

                    if (userID) {
                        $.each(user, function () {
                            if (this.ID = userID) {
                                $('#userName').val(this.Name);
                                return;
                            }
                        });
                    }
                    else {
                        userID = user[0].ID;
                        $('#userName').val(user[0].Name);
                    }
                    loadFodderList(userID);
                }
            });
        }

        function loadFodderList(userID) {
            $.ajax({
                type: 'get',
                url: "../../Users/User/GetUserList",
                cache: false,
                data: { userID: userID },
                dataType: "json"
            }).success(function (userInfo) {
                if (userInfo) {
                    var fooderGridManager = $("#fooderGrid").ligerGrid({
                        columns: [
                            { display: '用户ID', name: 'ID', width: 1, hide: true },
                            { display: '账号', name: 'Account', align: 'left' },
                            { display: "用户名", name: "Name", width: 100, type: 'int', editor: { type: 'int' } },
                            { display: "角色", name: "RoleName", width: 100, type: 'int', editor: { type: 'int' } }
                        ],
                        pageSize: 15,
                        width: '100%',
                        isScroll: false,
                        data: userInfo,
                        enabledEdit: false,
                        clickToEdit: false,
                        pager: false
                    });
                    $("#pageloading").hide();
                    initButton();
                }
            });
        }

        function initButton() {
            $('#btnAdd').show().ligerButton({
                width: 80,
                text: '新增用户',
                disabled: false,
                click: function () {
                    var editUrl = "../../User/Save";
                    $.ligerDialog.open({ title: "新增用户", height: 630, width: 550, url: editUrl });
                },
                icon: null
            });

            $('#btnDelete').show().ligerButton({
                width: 80,
                text: '删除用户',
                disabled: false,
                click: function () {
                    $.ajax({
                        type: 'post',
                        url: "../../User/Delete",
                        dataType: "json",
                        data: { userID: userID }
                    }).success({

                    });
                },
                icon: null
            });

            $('#btnModify').show().ligerButton({
                width: 80,
                text: '修改密码',
                disabled: false,
                click: function () {
                    var editUrl = "../../User/UpdatePassword";
                    $.ligerDialog.open({ title: "修改密码", height: 630, width: 550, url: editUrl });
                },
                icon: null
            });
        }
    </script>
</head>
<body>
    <div class="container">
        <div class="header mt10 mb10">
            <div class="btn-group">
                <img src="../../Images/emutong_logo.png" style="width:164px; height:33px;" />
            </div>
            <div class="btn-group">
                <ul class="nav nav-pills">
                    <li><a href="../../Home/Index">首页</a></li>
                    <li><a href="javascript:void(0);">任务</a></li>
                    <li><a href="../../Breed/Index/List">繁殖</a></li>
                    <li><a href="../../Feed/Index/List">饲养</a></li>
                    <li><a href="../../Milk/Index/List">奶厅</a></li>
                    <li><a href="../../Medical/Index/List">兽医</a></li>
                    <li><a href="../../Platform/Formula/List">平台</a></li>
                    <li class="active"><a href="../../Users/User/List">场长</a></li>
                </ul>
            </div>
        </div>
        @*<div class="btn-group" style="margin: 10px 0px 10px 0px;">
                <button type="button" class="btn btn-default">牧场管理</button>
                <button type="button" class="btn btn-primary">配方管理</button>
                <button type="button" class="btn btn-default">指定配方</button>
                <button type="button" class="btn btn-default">饲料管理</button>
            </div>*@
        <div style="margin: 10px 0px 10px 0px; position: relative; height: 30px; width: 100%;">
            <div style="display: inline-block; position: absolute; left: 0px;">
                <select id="userSelector" style="width: 350px; height: 30px"></select>
            </div>
            <div style="display: inline-block; position: absolute; right: 0px;">
                <input type="button" id="btnAdd" value="新增用户" style="display: none;" />
                <input type="button" id="btnDelete" value="删除用户" style="display: none;" />
                <input type="button" id="btnModify" value="修改密码" style="display: none;" />
            </div>
        </div>
        <div>
            <div id="fooderGrid"></div>
            <div id="message"></div>
            <div class="l-loading" id="pageloading"></div>
        </div>
    </div>
</body>
</html>
