@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>修改密码</title>
    <link rel="stylesheet" type="text/css" href="../ligerUI/skins/Aqua/css/ligerui-all.css">
    <link rel="stylesheet" type="text/css" href="../Style/base.css">
    <script type="text/javascript" src="../Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="../ligerUI/js/ligerui.min.js"></script>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap-theme1.min.css">
    <script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript">

        $(function () {
            loadUserInfo();
            InitBtnEvent();
        })

        function loadUserInfo() {
            $("#updatePassword").ligerForm({
                inputWidth: 170, labelWidth: 100, space: 40,
                fields: [
                { display: "账号", name: "Account", type: "text", width: 270, validate: { required: true } },
                { display: "用户名", name: "Name", type: "text", width: 270, validate: { required: true } },
                { display: "新密码", name: "Password", type: "password", width: 270, validate: { required: true } },
                { display: "再次输入密码", name: "EnsurePassword", type: "password", width: 270, validate: { required: true } }
                ]
            });
            liger.get("updatePassword").getEditor("Account").setValue("@ViewBag.UserAccount");
            liger.get("updatePassword").getEditor("Name").setValue("@ViewBag.UserName");
        }

        function InitBtnEvent() {
            $('#btnSubmit').ligerButton({
                width: 60,
                text: '保存',
                click: function () {
                    //提交表单
                    document.getElementById('updatePassword').submit();
                    parent.$.ligerDialog.close();
                    parent.$(".l-dialog,.l-window-mask").hide();
                },
                icon: null
            });
            $('#btnCancel').ligerButton({
                width: 60,
                text: '取消',
                click: function () {
                    parent.$.ligerDialog.close();
                    parent.$(".l-dialog,.l-window-mask").hide();
                },
                icon: null
            });
        }
    </script>
</head>
<body>
    <form class="form-inline" action="~/Users/User/UpdateUserPassword" method="post" id="updatePassword"></form>
    <div style="text-align:center;">
        <input type="button" id="btnSubmit" value="确认" />
        <input type="button" id="btnCancel" value="取消" />
    </div>
    <script src="~/Scripts/bdhm.js"></script>
</body>
</html>
