@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>产犊</title>
    <link rel="stylesheet" href="~/ligerUI/skins/Aqua/css/ligerui-all.css">
    <link rel="stylesheet" href="~/Style/base.css">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/ligerUI/js/ligerui.min.js"></script>
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap-theme1.min.css">
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <link href="~/Controls/bootstrap.datepicker/datepicker.css" rel="stylesheet" />
    <script src="~/Controls/bootstrap.datepicker/bootstrap-datepicker.js"></script>
    <link href="~/Controls/bootstrap.timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" />
    <script src="~/Controls/bootstrap.timepicker/js/bootstrap-timepicker.min.js"></script>
    <link href="~/Controls/jQuery.Select2/select2.css" rel="stylesheet" />
    <script src="~/Controls/jQuery.Select2/select2.min.js"></script>
    <script src="~/Scripts/menu.js"></script>
    <script src="~/Scripts/common.js"></script>
    <script>
        $(function () {
            $('#menu').menu({ mainMenuSelectedID: "Breed", subMenuSelectedID: "Breed-Calf" });
            initForm();
        });

        function initForm() {
            $('input[name=Birthday]').datepicker({
                language: 'zh-CN',
                autoclose: 1,
                todayHighlight: 1,
                format: "yyyy-mm-dd"
            });

            $('input[name=BirthTime]').timepicker({
                showMeridian: false, showSeconds: true, minuteStep: 1, secondStep: 1
            });

            $("select[name=BirthType]").select2({
                placeholder: "产犊类型",
                allowClear: true,
                minimumResultsForSearch: -1
            });
        }
    </script>
</head>
<body>
    <div class="container">
        <div id="menu"></div>
        <div class="content">
            <form id="calfInfo">
                <div class="input-group mt10">
                    <span class="input-group-addon w100">母牛耳号</span>
                    <input type="text" class="form-control w200 js-DisplayEarNum" placeholder="耳号" name="DisplayEarNum">
                </div>
                <div class="input-group mt10">
                    <span class="input-group-addon w100">产犊日期</span>
                    <input type="text" class="form-control w200" placeholder="产犊日期" name="Birthday">
                </div>
                
                <div class="input-group mt10">
                    <span class="input-group-addon w100">时分秒</span>
                    <div class="input-group bootstrap-timepicker w200">
                        <input type="text" class="form-control" placeholder="时分秒" name="BirthTime">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                    </div>                    
                </div>
                <div class="input-group mt10">
                    <span class="input-group-addon w100">受孕天数</span>
                    <input type="text" class="form-control w200" placeholder="受孕天数" name="DisplayEarNum">
                </div>
                <div class="input-group mt10">
                    <span class="input-group-addon w100">产犊类型</span>
                    <select class="w200" name="BirthType">
                        <option value="0">正常</option>
                        <option value="1">早产</option>
                        <option value="2">流产</option>
                    </select>
                </div>
                <div class="input-group mt10">
                    <span class="input-group-addon w100">产犊难易</span>
                    <input type="text" class="form-control w200" placeholder="产犊难易" name="DisplayEarNum">
                </div>
                <div class="input-group mt10">
                    <span class="input-group-addon w100">胎位</span>
                    <input type="text" class="form-control w200" placeholder="胎位" name="DisplayEarNum">
                </div>
                <div class="input-group mt10">
                    <span class="input-group-addon w100">接产员</span>
                    <input type="text" class="form-control w200" placeholder="接产员" name="DisplayEarNum">
                </div>
                <div class="input-group mt10">
                    <span class="input-group-addon w100">公犊数量</span>
                    <input type="text" class="form-control w200" placeholder="公犊数量" name="DisplayEarNum">
                </div>
                <div class="input-group mt10">
                    <span class="input-group-addon w100">母犊数量</span>
                    <input type="text" class="form-control w200" placeholder="母犊数量" name="DisplayEarNum">
                </div>
                <div class="input-group mt10">
                    <span class="input-group-addon w100">备注</span>
                    <textarea class="form-control h100 w500" placeholder="备注" name="Prescription"></textarea>
                </div>
                <div class="mt10">
                    <button type="button" class="btn btn-primary" id="btnSave">保存</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
