@{
    ViewBag.Title = "易牧通奶牛云智能";
}

<div class="jumbotron">
    <h1>易牧通奶牛云智能</h1>
    <p class="lead">世界一流分析水平, 最佳用户体验, 整合多方力量, 实现平台价值</p>
    <p><a href="" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>奶牛</h2>
        <p>
            完善的牧场牛群数据业务流程、任务单（打印）、物资管理、基础报表；
            兼容性：手机、平板浏览器可直接访问，注册页面等简要的页面可自适应。
        </p>
        <p>@Html.ActionLink("开始>>", "Index", "Cow", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>牧场</h2>
        <p>平台级功能：数据报表、分析报告（上传、下载）、数据对比功能（图表）、文件报告（PDF, Excel）、报告邮件自动发送功能、短信提醒。</p>
        <p>@Html.ActionLink("开始>>", "Index", "Ranch", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>配种</h2>
        <p>配种</p>
        <p>@Html.ActionLink("开始>>", "Index", "Insemination", null, new { @class = "btn btn-default" })</p>
    </div>
</div>