@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>配种</title>
</head>
<body>
    <div>
        <ul id="stakholder">
            @foreach (var cow in ViewBag.Cows)
            {
                <li>
                    @cow.ID &nbsp; : @cow.Name
                </li>
            }
        </ul>
    </div>
    @Html.ActionLink("添加", "Create")；
</body>
</html>
