
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>流产记录</title>
</head>
<body>
    <div>
        流产记录
    </div>
</body>
</html>
