@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>奶厅参数</title>
    <link rel="stylesheet" href="~/ligerUI/skins/Aqua/css/ligerui-all.css">
    <link rel="stylesheet" href="~/Style/base.css">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/ligerUI/js/ligerui.min.js"></script>
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap-theme1.min.css">
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/menu.js"></script>
    <script>
        $(function () {
            $('#menu').menu({ mainMenuSelectedID: "Milk", subMenuSelectedID: "Milk-Parameter" });
            loadMilkHallInfo();
            initBtnEvent();
        });

        function loadMilkHallInfo() {
            $("#milkHallInfo").ligerForm({
                inputWidth: 160, labelWidth: 120, space: 40,
                fields: [
                { display: "真空压力(mpa)", name: "VacuumPressure", type: "text", width: 270, validate: { required: true } },
                { display: "脉动次数(次/min)", name: "Pulsation", type: "text", width: 270, validate: { required: true } },
                { display: "设备清洗次数", name: "CleanupCount", type: "text", width: 270, validate: { required: true } },
                { display: "奶厅备注", name: "Name", type: "textarea", width: 270 }
                ]
            });
        }

        function initBtnEvent() {
            $('#btnSubmit').ligerButton({
                width: 60,
                text: '保存',
                click: function () {
                    //提交表单
                    document.getElementById('milkHallInfo').submit();
                    parent.$.ligerDialog.close();
                    parent.$(".l-dialog,.l-window-mask").hide();
                },
                icon: null
            });
            $('#btnCancel').ligerButton({
                width: 60,
                text: '取消',
                click: function () {
                    parent.$.ligerDialog.close();
                    parent.$(".l-dialog,.l-window-mask").hide();
                },
                icon: null
            });
        }
    </script>
</head>
<body>
    <div class="container">
        <div id="menu"></div>
        <div class="content">
            <form class="form-inline" action="~/Milk/Parameter/Update" method="post" id="milkHallInfo"></form>
            <div style="text-align:left;">
                <input type="button" id="btnSubmit" value="保存" />
                <input type="button" id="btnCancel" value="取消" />
            </div>
        </div>
    </div>
</body>
</html>
