@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>解禁</title>
    <link rel="stylesheet" type="text/css" href="../../../ligerUI/skins/Aqua/css/ligerui-all.css">
    <link rel="stylesheet" type="text/css" href="../../../Style/base.css">
    <script type="text/javascript" src="../../../Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="../../../ligerUI/js/ligerui.min.js"></script>
    <link rel="stylesheet" href="../../../bootstrap/css/bootstrap-theme1.min.css">
    <script type="text/javascript" src="../../../bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(function () {
            loadInsemInfo();
            InitBtnEvent();
        })

        function loadInsemInfo() {
            $("#ForbidInfo").ligerForm({
                inputWidth: 170, labelWidth: 90, space: 40,
                fields: [
                { display: "耳号", name: "EarNum", type: "text", width: 270, validate: { required: true } },
                { display: "解禁日期", name: "OperateDate", type: "date", width: 270, validate: { required: true } },
                { display: "解禁人", name: "Operator", type: "text", width: 270, validate: { required: true } },
                { display: "解禁原因", name: "Description", type: "text", width: 270, validate: { required: true } }
                ]
            });
            liger.get("ForbidInfo").getEditor("EarNum").setValue("@ViewBag.EarNum");
        }

        function InitBtnEvent() {
            $('#btnSubmit').ligerButton({
                width: 60,
                text: '保存',
                click: function () {
                    //提交表单
                    document.getElementById('ForbidInfo').submit();
                    parent.$.ligerDialog.close();
                    parent.$(".l-dialog,.l-window-mask").hide

                },
                icon: null
            });
            $('#btnCancel').ligerButton({
                width: 60,
                text: '取消',
                click: function () {
                    parent.$.ligerDialog.close();
                    parent.$(".l-dialog,.l-window-mask").hide();
                },
                icon: null
            });
        }
    </script>
</head>
<body>
    <div class="container">
        <div class="header mt10 mb10">
            <div class="btn-group">
                <img src="../../Images/emutong_logo.png" style="width:164px; height:33px;" />
            </div>
            <div class="btn-group">
                <ul class="nav nav-pills">
                    <li><a href="../../Home/Index">首页</a></li>
                    <li><a href="../../Task/Index/List">任务</a></li>
                    <li class="active"><a href="javascript:void(0);">繁殖</a></li>
                    <li><a href="../../Feed/Index/List">饲养</a></li>
                    <li><a href="../../Milk/Index/List">奶厅</a></li>
                    <li><a href="../../Medical/Index/List">兽医</a></li>
                    <li><a href="../../Platform/Formula/List">平台</a></li>
                    <li><a href="../../Users/Index/List">场长</a></li>
                </ul>
            </div>
        </div>
        <div class="btn-group" style="margin: 10px 0px 10px 0px;">
            <button id="menu1" type="button" class="btn btn-default">繁殖首页</button>
            <button id="menu2" type="button" class="btn btn-default">发情配种</button>
            <button id="menu3" type="button" class="btn btn-primary">禁配</button>
            <button id="menu4" type="button" class="btn btn-default">解禁</button>
        </div>
        <form class="form-inline" method="post" action="~/Breed/UnForbidInsemination/UnForbid/@ViewBag.EarNum" id="ForbidInfo"></form>
        <div style="text-align:center;">
            <input type="button" id="btnSubmit" value="保存" />
            <input type="button" id="btnCancel" value="取消" />
        </div>
    </div>
</body>
</html>
