@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>体况评分</title>
    <link rel="stylesheet" type="text/css" href="../../../ligerUI/skins/Aqua/css/ligerui-all.css">
    <link rel="stylesheet" type="text/css" href="../../../Style/base.css">
    <script type="text/javascript" src="../../../Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="../../../ligerUI/js/ligerui.min.js"></script>
    <link rel="stylesheet" href="../../../bootstrap/css/bootstrap-theme1.min.css">
    <script type="text/javascript" src="../../../bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/menu.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#menu').menu({ mainMenuSelectedID: "Feed", subMenuSelectedID: "Feed-Grade" });
            loadGradeInfo();
            initBtnEvent();
        });

        function loadGradeInfo() {
            $("#gradeInfo").ligerForm({
                inputWidth: 170, labelWidth: 90, space: 40,
                fields: [
                { display: "耳号", name: "DisplayEarNum", type: "text", width: 270, validate: { required: true } },
                { display: "体高", name: "Height", type: "text", width: 270, validate: { required: true } },
                { display: "体重", name: "Weight", type: "text", width: 270, validate: { required: true } },
                { display: "胸围", name: "Chest", type: "text", width: 270, validate: { required: true } },
                { display: "评分", name: "Grade", type: "text", width: 270, validate: { required: true } },
                { display: "体况描述", name: "Description", type: "text", width: 270, validate: { required: true } }
                ]
            });
        }

        function initBtnEvent() {
            $('#btnSubmit').ligerButton({
                width: 60,
                text: '保存',
                click: function () {
                    //提交表单
                    document.getElementById('gradeInfo').submit();
                    parent.$.ligerDialog.close();
                    parent.$(".l-dialog,.l-window-mask").hide();
                },
                icon: null
            });
            $('#btnCancel').ligerButton({
                width: 60,
                text: '取消',
                click: function () {
                    parent.$.ligerDialog.close();
                    parent.$(".l-dialog,.l-window-mask").hide();
                },
                icon: null
            });
        }
    </script>
</head>
<body>
    <div class="container">
        <div id="menu"></div>
        <div class="content">
            <form class="form-inline" action="~/Feed/Grade/Save" method="post" id="gradeInfo"></form>
            <div style="text-align:left;">
                <input type="button" id="btnSubmit" value="保存" />
                <input type="button" id="btnCancel" hidden="hidden" value="取消" />
            </div>
        </div>
    </div>
</body>
</html>
