@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>新增牛群</title>
    <link rel="stylesheet" href="~/ligerUI/skins/Aqua/css/ligerui-all.css">
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap-theme1.min.css">
    <link href="~/Controls/jQuery.Select2/select2.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Style/base.css">
    <link rel="stylesheet" href="~/Style/Feed/Index/ModifyCowGroup.css" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Controls/jQuery.Select2/select2.min.js"></script>
    <script src="~/ligerUI/js/ligerui.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/menu.js"></script>
    <script src="~/Scripts/settingData.js"></script>
    <script type="text/javascript">
        $(function () {
            initForm();
        });

        function initForm() {
            //$("form#cowGroupAddForm").submit(function (event) {
            //    event.preventDefault();  //prevent the actual form post
            //});

            $('#btnSave').ligerButton({
                width: 80,
                text: '保存',
                click: function () {
                    var name = $("#cowGroupName").val();
                    var type = $("#cowGroupTypeSelector").val();
                    if (name == "") {
                        alert("请输入牛群名称");
                        return;
                    }
                    else if (type == "-1") {
                        alert("请选择牛群类型");
                        return;
                    }

                    $.ajax({
                        type: 'post',
                        url: '../../CowGroup/Add',
                        data: $("#cowGroupAddForm").serialize(),
                        dataType: 'json',
                        success: function (response) {
                            if (response.Result = 1) {
                                alert('添加牛群成功！');
                                parent.$.ligerDialog.close();
                                parent.window.loadCowGroupList();
                                parent.$(".l-dialog,.l-window-mask").hide();
                            }
                        }
                    });

                    //document.getElementById('cowGroupAddForm').submit();

                },
                icon: null
            });

            $('#btnCancel').ligerButton({
                width: 80,
                text: '取消',
                disabled: false,
                click: function () {
                    parent.$.ligerDialog.close();
                    parent.$(".l-dialog,.l-window-mask").hide();
                },
                icon: null
            });
        }
    </script>
</head>
<body>
    <form id="cowGroupAddForm">
        <div class="container">
            <input id="cowGroupID" name="ID" type="hidden" />
            <div class="form-group">
                <span>牛群名称：</span>
                <span><input id="cowGroupName" name="Name" type="text" style="width: 350px; height: 30px" /></span>
            </div>
            <div class="form-group">
                <span>牛群类型：</span>
                <span>
                    <select id="cowGroupTypeSelector" name="Type">
                        <option value="-1"></option>
                        <option value="0">犊牛群</option>
                        <option value="1">育成牛群</option>
                        <option value="2">青年牛群</option>
                        <option value="3">初产牛群</option>
                        <option value="4">低产牛群</option>
                        <option value="5">中产牛群</option>
                        <option value="6">高产牛群</option>
                        <option value="7">干奶牛群</option>
                        <option value="8">产房待产牛群</option>
                        <option value="9">隔离群</option>
                        <option value="10">病牛群</option>
                        <option value="11">公牛群</option>
                    </select>
                </span>
            </div>
            <div class="form-group">
                <span>牛群说明：</span>
                <span><input id="cowGroupDescription" style="width: 350px; height: 30px" name="Description" type="text" /></span>
            </div>
            <div class="form-group">
                <input id="btnSave" type="button" value="保存" />
                <input id="btnCancel" type="button" value="取消" />
            </div>
        </div>
    </form>
    <script src="~/Scripts/bdhm.js"></script>
</body>
</html>
