@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>牛群管理</title>
    <link rel="stylesheet" type="text/css" href="../../ligerUI/skins/Aqua/css/ligerui-all.css">
    <link rel="stylesheet" type="text/css" href="../../Style/base.css">
    <script type="text/javascript" src="../../Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="../../ligerUI/js/ligerui.min.js"></script>
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap-theme1.min.css">
    <script type="text/javascript" src="../../bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/menu.js"></script>
    <script src="~/Scripts/settingData.js"></script>
    <script>
        $(function () {
            $('#menu').menu({ mainMenuSelectedID: "Feed", subMenuSelectedID: "Feed-CowGroup" });
            loadCowGroupList();
        });

        var cowGroupGridManager;
        function loadCowGroupList() {
            cowGroupGridManager = $("#cowGroupGrid").ligerGrid({
                checkbox: false,
                columns: [
                    { display: '牛群ID', name: 'ID', type: 'int', hide: true, width: 50 },
                    { display: '牧场', name: 'PastureName', align: 'left', hide: true, width: 150 },
                    {
                        display: '牛群', name: 'Name', align: 'left', width: 250,
                        editor: { type: 'text' }
                    },
                    {
                        display: '牛群类型', name: 'Type', type: 'int', align: 'left', width: 150,
                        render: function (item) {
                            var typeName = "";
                            $.each(cowGroupTypeData, function () {
                                if (this.ID == item.Type) {
                                    typeName = this.Name;
                                    return typeName;
                                }
                            });
                            return typeName;
                        }
                    },
                    { display: '牛群说明', name: 'Description', align: 'left' },
                    { display: '配方', name: 'FormulaName', align: 'left', width: 150 }
                ],
                pageSize: 15,
                width: '100%',
                height: '100%',
                isScroll: false,
                url: "../../Feed/CowGroup/GetCowGroupInfo"
            });
            $("#pageloading").hide();
        }
    </script>
</head>
<body>
    <div class="container">
        <div id="menu"></div>
        <div class="content">
            <div id="cowGroupGrid" class="displayBlock ml5 mr5"></div>
            <div id="message"></div>
            <div class="l-loading" id="pageloading"></div>
        </div>
    </div>
</body>
</html>
