@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>牛群维护</title>
    <link rel="stylesheet" href="~/ligerUI/skins/Aqua/css/ligerui-all.css">
    <link rel="stylesheet" href="~/Style/base.css">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/ligerUI/js/ligerui.min.js"></script>
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap-theme1.min.css">
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/menu.js"></script>
    <script src="~/Scripts/settingData.js"></script>
    <link rel="stylesheet" href="~/Style/Feed/Index/ModifyCowGroup.css">
</head>
<body>
    <form id="cowGroupUpdateForm">
        <div class="container">
            <input id="cowGroupID" name="ID" type="hidden" />
            <div class="form-group">
                <span>牧场：</span><span><select id="pastureSelector" name="PastureID"></select></span>
            </div>
            <div class="form-group">
                <span>牛群名称：</span><span><input id="cowGroupName" name="Name" type="text" style="width: 350px; height: 30px" /></span>
            </div>
            <div class="form-group">
                <span>牛群类型：</span><span><select id="cowGroupTypeSelector" name="Type"></select></span>
            </div>
            <div class="form-group">
                <span>牛群说明：</span><span><input id="cowGroupDescription" name="Description" type="text" /></span>
            </div>
            <div class="form-group">
                <span>配方：</span><span><select id="formulaSelector" name="FormulaID"></select></span>
            </div>
            <div class="form-group">
                <input id="btnSave" type="submit" value="保存" />
                <input id="btnCancel" type="button" value="取消" />
            </div>
        </div>
    </form>
    <script type="text/javascript">
        var cowGroupID = "@ViewBag.CowGroupID";
        $(function () {
            loadCowGroupItem();
        });

        function loadCowGroupSelector(typeID) {
            $.each(cowGroupTypeData, function () {
                $('#cowGroupTypeSelector').append('<option value ="' + this.ID + '">' + this.Name + '</option>');
            });
            $('#cowGroupTypeSelector').val(typeID);
        }

        function loadFormulaSelector(formulaID) {
            $.ajax({
                url: "../../../Feed/Formula/GetFormula",
                cache: false,
                success: function (formula) {
                    if (formula && formula.length > 0) {
                        $.each(formula, function () {
                            $('#formulaSelector').append('<option value="' + this.ID + '">' + this.Name + '</option>');
                        });
                        $('#formulaSelector').val(formulaID);
                    }
                }
            });
        }

        function loadPastureSelector(pastureID) {
            $.ajax({
                url: "../../../Feed/Pasture/GetPasture",
                cache: false,
                success: function (formula) {
                    if (formula && formula.length > 0) {
                        $.each(formula, function () {
                            $('#pastureSelector').append('<option value="' + this.ID + '">' + this.Name + '</option>');
                        });
                        $('#pastureSelector').val(pastureID);
                    }
                }
            });
        }

        function loadCowGroupItem() {
            $.ajax({
                url: "../../../Feed/CowGroup/GetCowGroupItem",
                data: { id: cowGroupID },
                cache: false,
                success: function (cowGroup) {
                    if (cowGroup) {
                        $('#cowGroupID').val(cowGroup.ID);
                        $('#cowGroupName').val(cowGroup.Name);
                        loadCowGroupSelector(cowGroup.Type);
                        loadFormulaSelector(cowGroup.FormulaID);
                        loadPastureSelector(cowGroup.PastureID);
                        $('#cowGroupDescription').val(cowGroup.Description);
                        initForm();
                    }
                }
            });
        }

        function initForm() {
            $("form#cowGroupUpdateForm").submit(function (event) {
                event.preventDefault();  //prevent the actual form post
                updateCowGroup(this);
            });

            $('#btnSave').ligerButton({
                width: 80,
                text: '保存',
                disabled: false,
                icon: null
            });

            $('#btnCancel').ligerButton({
                width: 80,
                text: '取消',
                disabled: false,
                click: function () {
                    parent.$.ligerDialog.close();
                    parent.$(".l-dialog,.l-window-mask").hide();
                },
                icon: null
            });
        }

        function updateCowGroup(form) {
            $.ajax({
                url: "../../Feed/CowGroup/UpdateCowGroupInfo",
                type: "post",
                dataType: "json",
                data: $(form).serialize(),
                success: function (result) {
                    parent.$.ligerDialog.close();
                    parent.window.loadCowGroupList();
                    parent.$(".l-dialog,.l-window-mask").hide();
                },
                error: function (result) {
                    $.ligerDialog.error(result);
                }
            });
        }
    </script>
    <script src="~/Scripts/bdhm.js"></script>
</body>
</html>
