
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>牛群查询</title>
    <link rel="shortcut icon" href="images/emutong.ico">
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap-theme1.min.css">
    <link rel="stylesheet" href="~/Style/base.css">
    <link rel="stylesheet" href="~/Style/common.css">
    <link rel="stylesheet" href="~/Style/Home/Index.css">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-tools-min.js"></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/menu.js"></script>
    <link href="~/Controls/jQuery.LoadingUI/jquery.loadingui.css" rel="stylesheet" />
    <script src="~/Controls/jQuery.LoadingUI/jquery.loadingui.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#menu').menu({ mainMenuSelectedID: "Query", subMenuSelectedID: "Query-CowGroup" });
        });
    </script>
</head>
<body>
    <div class="container">
        <div id="menu"></div>
        <div class="content">
            
        </div>
    </div>
</body>
</html>
