@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>禁配</title>
    <link rel="stylesheet" href="~/ligerUI/skins/Aqua/css/ligerui-all.css">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-tools-min.js"></script>
    <script src="~/ligerUI/js/ligerui.min.js"></script>
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap-theme1.min.css">
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <link href="~/Controls/jQuery.Select2/select2.css" rel="stylesheet" />
    <script src="~/Controls/jQuery.Select2/select2.min.js"></script>
    <script src="~/Scripts/menu.js"></script>
    <script src="~/Scripts/common.js"></script>
    <link href="~/Controls/bootstrap.datepicker/datepicker.css" rel="stylesheet" />
    <script src="~/Controls/bootstrap.datepicker/bootstrap-datepicker.js"></script>
    <link rel="stylesheet" href="~/Style/base.css">
    <script>
        var userList = null;

        $(function () {
            $('#menu').menu({ mainMenuSelectedID: "Medical", subMenuSelectedID: "Medical-Forbid" });
            initDateSelector();
            loadOperator();
            initBtnEvent();
        });

        function initDateSelector() {
            $('input[name=operateDate]').datepicker({
                language: 'zh-CN',
                autoclose: 1,
                todayHighlight: 1,
                format: "yyyy-mm-dd"
            });
        }

        function loadOperator() {
            $.ajax({
                type: 'get',
                url: '../../Users/User/GetUserItems',
                dataType: 'json',
                cache: false,
                success: function (user) {
                    if (user) {
                        $("#OperatorID").empty();
                        $("#OperatorID").append('<option value="0" selected = "selected">' + "请选择禁配人" + '</option>');
                        $.each(user, function () {
                            $("#OperatorID").append('<option value="' + this.ID + '">' + this.Name + '</option>');
                        });
                    }
                }
            });
        }

        function initBtnEvent() {
            $('#btnSave').show().ligerButton({
                width: 80,
                text: '保存',
                disable: false,
                click: function () {
                    var earNum = $('input[name=DisplayEarNum]').val();
                    var date = $('[name=operateDate]').val();
                    var operator = $('select[name=operator]').val();
                    var description = $('textarea[name=description]').val();
                    if (date == "") {
                        alert("请选择禁配日期！");
                        return;
                    }
                    if (operator == "0") {
                        alert("请选择禁配人！");
                        return;
                    }
                    $.ajax({
                        type: 'post',
                        url: "../../ForbidInsemination/Forbid",
                        dataType: "json",
                        data: { EarNum: earNum, Date: date, Operator: operator, Description: description }
                    }).success(
                            function () {
                                alert("保存成功！");
                            }
                    );
                },
                icon: null
            });
        }
    </script>
</head>
<body>
    <div class="container">
        <div id="menu"></div>
        <div class="content">
            <form id="ForbidInfo">
                <div class="input-group mt10">
                    <span class="input-group-addon w100">耳号</span>
                    <input type="text" class="form-control w200 js-DisplayEarNum" placeholder="耳号" id="earNum" name="DisplayEarNum">
                </div>
                <div class="input-group mt10">
                    <span class="input-group-addon w100">禁配日期</span>
                    <input type="text" class="form-control w200" placeholder="禁配日期" name="operateDate">
                </div>
                <div class="input-group mt10">
                    <span class="input-group-addon w100">禁配人</span>
                    <select class="form-control w200" name="operator" id="OperatorID"></select>
                </div>
                <div class="input-group mt10">
                    <span class="input-group-addon w100">禁配原因</span>
                    <textarea class="form-control h200 w500" placeholder="禁配原因" name="description"></textarea>
                </div>
                <div class="mt10">
                    <input type="button" class="btn btn-primary" id="btnSave" value="保存" />
                </div>
            </form>
        </div>
    </div>
    <script src="~/Scripts/bdhm.js"></script>
</body>
</html>
