@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>饲养子系统</title>
    <link rel="stylesheet" type="text/css" href="../../ligerUI/skins/Aqua/css/ligerui-all.css">
    <link rel="stylesheet" type="text/css" href="../../Style/base.css">
    <script type="text/javascript" src="../../Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="../../Scripts/json2.js"></script>
    <script type="text/javascript" src="../../ligerUI/js/ligerui.min.js"></script>
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap-theme1.min.css">
    <script type="text/javascript" src="../../bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../Scripts/settingData.js"></script>
</head>
<body>
    <div class="container">
        <div class="header mt10 mb10">
            <div class="btn-group">
                <img src="../../Images/emutong_logo.png" style="width:164px; height:33px;" />
            </div>
            <div class="btn-group">
                <ul class="nav nav-pills">
                    <li><a href="../../Home/Index">首页</a></li>
                    <li><a href="javascript:void(0);">任务</a></li>
                    <li><a href="../../Breed/Index/List">繁殖</a></li>
                    <li class="active"><a href="javascript:void(0);">饲养</a></li>
                    <li><a href="../../Milk/Index/List">奶厅</a></li>
                    <li><a href="../../Medical/Index/List">兽医</a></li>
                    <li><a href="../../Platform/Formula/List">平台</a></li>
                    <li><a href="../../Users/Index/List">场长</a></li>
                </ul>
            </div>
        </div>
        <div class="ml5 mt5 mb5">
            <div class="btn-group">
                <div id="btnCowGroup"></div>
            </div>
            <div class="btn-group">
                <div id="btnGrade"></div>
            </div>
            <div class="btn-group">
                <div id="btnProcess"></div>
            </div>
            <div class="btn-group">
                <div id="btnEmptyRecord"></div>
            </div>
            <div class="btn-group">
                <div id="btnRemainRecord"></div>
            </div>
        </div>
        <div id="cowGroupGrid" class="displayBlock ml5 mr5"></div>
        <div id="message"></div>
        <div class="l-loading" id="pageloading"></div>
    </div>
</body>
</html>
<script type="text/javascript">
    $(function () {
        loadCowGroupList();
        initBtnEvent();
    })

    var cowGroupGridManager;
    function loadCowGroupList() {
        cowGroupGridManager = $("#cowGroupGrid").ligerGrid({
            checkbox: false,
            columns: [
                { display: '牛群ID', name: 'ID', type: 'int', hide: true, width: 50 },
                { display: '牧场', name: 'PastureName', align: 'left', hide: true, width: 150 },
                {
                    display: '牛群', name: 'Name', align: 'left', width: 250,
                    editor: { type: 'text' }
                },
                {
                    display: '牛群类型', name: 'Type', type: 'int', align: 'left', width: 150,
                    render: function (item) {
                        var typeName = "";
                        $.each(cowGroupTypeData, function () {
                            if (this.ID == item.Type) {
                                typeName = this.Name;
                                return typeName;
                            }
                        });
                        return typeName;
                    }
                },
                { display: '牛群说明', name: 'Description', align: 'left' },
                { display: '配方', name: 'FormulaName', align: 'left', width: 150 }
            ],
            pageSize: 15,
            width: '100%',
            height: '100%',
            isScroll: false,
            url: "../../Feed/CowGroup/GetCowGroupInfo"
        });
        $("#pageloading").hide();
    }

    function initBtnEvent() {
        $('#btnCowGroup').ligerButton({
            width: 80,
            text: '牛群维护',
            disabled: false,
            click: function () {
                var row = cowGroupGridManager.getSelectedRow();
                if (row) {
                    var editUrl = "../../Feed/CowGroup/ModifyCowGroup?id=" + row["ID"];
                    $.ligerDialog.open({ title: "牛群维护", height: 430, width: 450, url: editUrl });
                }
                else {
                    alert("前选择牛群！");
                }
            },
            icon: null
        });

        $('#btnGrade').ligerButton({
            width: 80,
            text: '体况评分',
            disabled: false,
            click: function () {
                var row = cowGroupGridManager.getSelectedRow();
                var editUrl = "../../Feed/Grade/Add";
                if (row) {
                    editUrl += "/" + row["ID"];
                }
                $.ligerDialog.open({ title: "体况评分", height: 430, width: 450, url: editUrl });
            },
            icon: null
        });

        $('#btnProcess').ligerButton({
            width: 80,
            text: '饲料加工',
            disabled: false,
            click: function () {
                var row = cowGroupGridManager.getSelectedRow();
                var editUrl = "../../Feed/Fodder/Calculate";
                if (row) {
                    editUrl += "/" + row["ID"];
                }
                $.ligerDialog.open({ title: "饲料加工", height: 430, width: 450, url: editUrl });
            },
            icon: null
        });

        $('#btnEmptyRecord').ligerButton({
            width: 80,
            text: '空槽记录',
            disabled: false,
            click: function () {
                var row = cowGroupGridManager.getSelectedRow();
                var editUrl = "../../Feed/Empty/Add";
                if (row == null) {
                    alert("请选择牛群");
                    return;
                }
                else {
                    editUrl += "/" + row["ID"];
                }
                $.ligerDialog.open({ title: "空槽记录", height: 430, width: 450, url: editUrl });
            },
            icon: null
        });

        $('#btnRemainRecord').ligerButton({
            width: 80,
            text: '剩料记录',
            disabled: false,
            click: function () {
                var row = cowGroupGridManager.getSelectedRow();
                var editUrl = "../../Feed/Remain/Add";
                if (row == null) {
                    alert("请选择牛群");
                    return;
                }
                else {
                    editUrl += "/" + row["ID"];
                }
                $.ligerDialog.open({ title: "剩料记录", height: 430, width: 450, url: editUrl });
            },
            icon: null
        });
    }
</script>