@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>康复调群</title>
    <link rel="stylesheet" href="~/ligerUI/skins/Aqua/css/ligerui-all.css">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-tools-min.js"></script>
    <script src="~/ligerUI/js/ligerui.min.js"></script>
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap-theme1.min.css">
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <link href="~/Controls/jQuery.Select2/select2.css" rel="stylesheet" />
    <script src="~/Controls/jQuery.Select2/select2.min.js"></script>
    <script src="~/Scripts/menu.js"></script>
    <script src="~/Scripts/common.js"></script>
    <link rel="stylesheet" href="~/Style/base.css">
    <script>
        $(function () {
            $('#menu').menu({ mainMenuSelectedID: "Medical", subMenuSelectedID: "Medical-Diagnoses" });
            initComponents();
        });
        function initComponents() {
            loadSickCowList();
        }
        function loadSickCowList() {
            var fooderGridManager = $("#sickCowGrid").ligerGrid({
                columns: [
                    { display: '牛耳号', name: 'EarNum', width: 100 ,hide: true},
                    { display: '牛耳号', name: 'DisplayEarNum', align: 'left', width: 250 },
                    { display: "月龄", name: "AgeOfMonth", width: 100, type: 'float', editor: { type: 'float' } }
                ],
                pageSize: 15,
                width: '90%',
                height: '100%',
                isScroll: false,
                //data: processList,
                title: '加工单',
                showTitle: true,
                enabledEdit: false,
                clickToEdit: false,
                pager: false,
                usePager: false,
                url: "../../Medical/Adjust/GetSickCows"
            });
            $("#pageloading").hide();

        }
    </script>
</head>
<body>
    <div class="container">
        <div id="menu"></div>
        <div class="content">
            <div>
                <div id="sickCowGrid"></div>
                <div id="message"></div>
                <div class="l-loading" id="pageloading"></div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/bdhm.js"></script>
</body>
</html>