
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>产奶量记录</title>
</head>
<body>
    <div>
        牛号，日期，班次，奶量
    </div>
</body>
</html>
