
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>分群任务单</title>
</head>
<body>
    <div class="container">
        分群任务单
    </div>
</body>
</html>
