@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>完成免疫任务单</title>
    <link rel="stylesheet" href="~/ligerUI/skins/Aqua/css/ligerui-all.css">
    <link rel="stylesheet" href="~/Style/base.css">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/ligerUI/js/ligerui.min.js"></script>
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap-theme1.min.css">
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/menu.js"></script>
    <script type="text/javascript">
        var taskID = "@ViewBag.TaskID";

        $(function () {
            $('#menu').menu({ mainMenuSelectedID: "Task", subMenuSelectedID: "Task-CompleteImmune", showSubMemu: false });
            loadTask();
        })

        function loadTask() {
            $.ajax({
                type: 'get',
                url: "../../TaskCompleteImmune/LoadTask",
                data: { taskID: taskID },
                dataType: "json",
                cache: false
            }).success(function (taskData) {
                $('#doctor').val(taskData.doctor);
                $('input[name=doctorID]').val(taskData.doctorID);
                $('input[name=earNum]').val(taskData.earNum);
            });
        }
    </script>
</head>
<body>
    <div class="container">
        <div id="menu"></div>
        <div class="content">
            <div>免疫任务单</div>
            <div>
                <form action="../../TaskCompleteImmune/SaveTask" method="post">
                    <div>任务指导：免疫</div>
                    <div>牛耳号：<input name="earNum" /></div>
                    <div>
                        免疫类型：<select name="immuneType">
                            <option value="布鲁氏病">布鲁氏病</option>
                            <option value="肺结核">肺结核</option>
                            <option value="口蹄疫">口蹄疫</option>
                            <option value="驱虫">驱虫</option>
                        </select>
                    </div>
                    <div>
                        免疫时间：<input type="datetime" name="immuneDate" />
                    </div>
                    <div>
                        <input type="hidden" name="doctorID" />
                        兽医：<input type="text" id="doctor" />
                    </div>
                    <div>
                        <button type="submit">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
