@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>完成免疫任务单</title>
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap-theme1.min.css">
    <link rel="stylesheet" href="../../ligerUI/skins/Aqua/css/ligerui-all.css">
    <link rel="stylesheet" href="../../Style/base.css">
    <link rel="stylesheet" href="../../Style/Home/Index.css">
    <script src="../../Scripts/jquery-1.10.2.min.js"></script>
    <script src="../../bootstrap/js/bootstrap.min.js"></script>
    <script src="../../Controls/echarts/doc/asset/js/esl/esl.js"></script>
    <script src="../../ligerUI/js/ligerui.min.js"></script>
    <script type="text/javascript">
        @*taskID = "@ViewBag.TaskID";*@
        var doctorID = "@ViewBag.DoctorID"
        alert(doctorID);
        $(function () {
            loadTask();
        })

        function loadTask() {
            $.ajax({
                type: 'get',
                url: "../../TaskCompleteImmune/LoadTask",

                dataType: "json",
                cache: false
            }).success(function (taskData) {
                $('#doctor').val(taskData.doctor);
                $('input[name=doctorID]').val(taskData.doctorID);
            }); 
        }
    </script>
</head>
<body>
    <div class="container">
        <div>免疫任务单</div>
        <div>
            <form action="../../TaskCompleteImmune/SaveTask" method="post">
                <div>任务指导：免疫</div>
                <div>牛耳号：<input name="earNum" /></div>
                <div>
                    免疫类型：<select name="immuneType">
                        <option value="1">布鲁氏病</option>
                        <option value="2">肺结核</option>
                        <option value="3">口蹄疫</option>
                        <option value="4">驱虫</option>
                    </select>
                </div>
                <div>
                    免疫时间：<input type="datetime" name="immuneDate" />
                </div>
                <div>
                    <input type="hidden" name="doctorID" />
                    兽医：<input type="text" id="doctor" />
                </div>
                <div>
                    <button type="submit">提交</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
