@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ERROR</title>
    <link rel="stylesheet" href="~/ligerUI/skins/Aqua/css/ligerui-all.css">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-tools-min.js"></script>
    <script src="~/ligerUI/js/ligerui.min.js"></script>
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap-theme1.min.css">
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <link href="~/Controls/jQuery.Select2/select2.css" rel="stylesheet" />
    <script src="~/Controls/jQuery.Select2/select2.min.js"></script>
    <script src="~/Scripts/menu.js"></script>
    <script src="~/Scripts/common.js"></script>
    <link href="~/Controls/bootstrap.datepicker/datepicker.css" rel="stylesheet" />
    <script src="~/Controls/bootstrap.datepicker/bootstrap-datepicker.js"></script>
    <link rel="stylesheet" href="~/Style/base.css">
    <link rel="stylesheet" href="~/Style/common.css">
    <script type="text/javascript">   
        $(function () {
            $('#menu').menu({ mainMenuSelectedID: "", subMenuSelectedID: "Task", showSubMemu: false });

        });
    </script>
</head>
<body>
    <div class="container">
        <div id="menu"></div>
        <div class="content">
            <div class="page-title">出错了！！</div>  
            <div>请确认您填写的信息正确！</div>          
        </div>
    </div>
    <script src="~/Scripts/bdhm.js"></script>
</body>
</html>


