
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>犊牛饲喂任务单</title>

</head>
<body>
    <div class="container">
        犊牛饲喂任务单
    </div>
</body>
</html>
