
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>产后3天任务单</title>
    <link rel="stylesheet" href="~/ligerUI/skins/Aqua/css/ligerui-all.css">
    <link rel="stylesheet" href="~/Style/base.css">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/ligerUI/js/ligerui.min.js"></script>
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap-theme1.min.css">
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/menu.js"></script>
    <script type="text/javascript">
        var taskID = "@ViewBag.TaskID";
        var earNum;
        var houseList;

        $(function () {
            $('#menu').menu({ mainMenuSelectedID: "Task", subMenuSelectedID: "Task-Day3AfterBorn", showSubMemu: false });
            loadTask();
            initHouseSelector();
            loadHouses();
        })

        function loadGroups() {
            $.ajax({
                type: 'get',
                url: "../../TaskDay3AfterBorn/GetGroups",
                dataType: 'json',
                cache: false,
                success: function (group) {
                    $("select[name=group]").empty();
                    $("select[name=group]").append('<option></option>');
                    if (typeof (group) != 'undefined' && group && group.length > 0) {
                        $.each(group, function () {
                            $("select[name=group]").append('<option value="' + this.ID + '">' + this.Name + '</option>');
                        });
                    }
                }
            });
        }
        function loadHouses() {
            $.ajax({
                type: 'get',
                url: "../../TaskDay3AfterBorn/GetHouses",
                dataType: 'json',
                cache: false,
                success: function (house) {
                    loadGroups();
                    houseList = house;
                }
            });
        }
        function initHouseSelector() {
            $("select[name=group]").select({
                placeholder: "牛群",
                allowClear: true,
                minimumResultsForSearch: -1
            }).change(function () {
                var groupID = $("select[name=group]").val()
                bindDiseaseSeletor(groupID);
                $("select[name=house]").select("val", "");
            });

            $("select[name=house]").select({
                placeholder: "牛舍",
                allowClear: true,
                minimumResultsForSearch: -1
            });
        }

        function bindDiseaseSeletor(groupID) {
            $("select[name=house]").empty();
            $("select[name=house]").append('<option></option>');
            if (typeof (houseList) != 'undefined' && houseList && houseList.length > 0) {
                $.each(houseList, function () {
                    if (this.GroupID == groupID) {
                        $("select[name=house]").append('<option value="' + this.ID + '">' + this.Name + '</option>');
                    }
                });
            }
        }

        function loadTask() {
            $.ajax({
                type: 'get',
                url: "../../TaskDay3AfterBorn/LoadTask",
                data: { taskID: taskID },
                dataType: "json",
                cache: false
            }).success(function (taskData) {
                $('input[name=id]').val(taskID);
                $('#taskid').text(taskID);
                $('#earNum').val(taskData.EarNum);
                $('input[name=DisplayEarNum]').val(taskData.DislayEarNum);
                $('input[name=startDate]').val(taskData.ArrivalTime);
                $('input[name=operatorName]').val(taskData.Operator);
            });
        }
    </script>
</head>
<body>
    <div class="container">
        <div id="menu"></div>
        <div class="content">
            <div>产后3天任务单</div>
            <div>
                <form action="../../TaskDay3AfterBorn/SaveTask" method="post">
                    <input type="hidden" name="id" />
                    <div>任务单ID：<span id="taskid"></span></div>
                    <div>任务单类型：产后3天任务单</div>

                    <div>任务指导：请进行该牛产后 1-3天护理。产后胎衣情况。胎衣不下，兽医处置。</div>
                    <br />
                    @*<div>牛耳号：<input name="earNum" /></div>*@
                    <div class="input-group mt10">
                        <span class="input-group-addon">牛耳号：</span>
                        <input type="text" class="form-control w200" placeholder="耳号" name="DisplayEarNum">
                    </div>
                    @*<div>任务开始时间：<input type="date" name="startDate" /></div>*@
                    <div class="input-group mt10">
                        <span class="input-group-addon">任务开始时间：</span>
                        <input type="text" class="form-control w200" placeholder="任务开始时间" name="startDate">
                    </div>
                    @*<div>操作人员：<input name="operatorName" /></div>*@
                    <div class="input-group mt10">
                        <span class="input-group-addon">操作人员：</span>
                        <input type="text" class="form-control w200" placeholder="耳号" name="operatorName">
                    </div>
                    @*<div>任务完成时间：<input type="date" name="endDate" /></div>*@
                    <div class="input-group mt10">
                        <span class="input-group-addon">任务完成时间：</span>
                        <input type="text" class="form-control w200" placeholder="任务完成时间" name="endDate">
                    </div>
                    <br />
                    <div>调群在低产群</div>
                    <div>牛群号：<input name="group" /></div>
                    <div>牛舍号：<input name="house" /></div>
                    <div class="input-group mt10">
                        <span class="input-group-addon">牛群号：</span>
                        <select class="w200" name="group"></select>
                    </div>
                    <div class="input-group mt10">
                        <span class="input-group-addon">牛舍号：</span>
                        <select class="w200" name="house"></select>
                    </div>
                    <button type="submit">提交</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
