
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>完成免疫任务单</title>
</head>
<body>
    <div class="container">
        完成免疫任务单
    </div>
</body>
</html>
