
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>分群任务单</title>
    <link rel="stylesheet" href="~/ligerUI/skins/Aqua/css/ligerui-all.css">
    <link rel="stylesheet" href="~/Style/base.css">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/ligerUI/js/ligerui.min.js"></script>
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap-theme1.min.css">
    <link rel="stylesheet" href="~/Style/common.css">
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/menu.js"></script>
    <script type="text/javascript">
        var taskID = "@ViewBag.TaskID";

        $(function () {
            $('#menu').menu({ mainMenuSelectedID: "Task", subMenuSelectedID: "Task-CompleteGrouping", showSubMemu: false });
        })

    </script>
</head>
<body>
    <div class="container">
        <div id="menu"></div>
        <div class="content">
            <div class="page-title">分群任务单</div>
        </div>
    </div>
    <script src="~/Scripts/bdhm.js"></script>
</body>
</html>
