@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>剩料记录</title>
    <link rel="stylesheet" type="text/css" href="../../../ligerUI/skins/Aqua/css/ligerui-all.css">
    <link rel="stylesheet" type="text/css" href="../../../Style/base.css">
    <script type="text/javascript" src="../../../Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="../../../ligerUI/js/ligerui.min.js"></script>
    <link rel="stylesheet" href="../../../bootstrap/css/bootstrap-theme1.min.css">
    <script type="text/javascript" src="../../../bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/menu.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#menu').menu({ mainMenuSelectedID: "Feed", subMenuSelectedID: "Feed-Remain" });
            loadRemainRecordInfo();
            initBtnEvent();
        });

        function loadRemainRecordInfo() {
            $("#remainRecordInfo").ligerForm({
                inputWidth: 170, labelWidth: 90, space: 40,
                fields: [
                { display: "牛群名称", name: "Name", type: "text", width: 270, validate: { required: true } },
                { display: "剩料量", name: "RemainQuantity", type: "text", width: 270, validate: { required: true } }
                ]
            });
            liger.get("remainRecordInfo").getEditor("Name").setValue("@ViewBag.Name");
        }

        function initBtnEvent() {
            $('#btnSubmit').ligerButton({
                width: 60,
                text: '保存',
                click: function () {
                    //提交表单
                    document.getElementById('remainRecordInfo').submit();
                    parent.$.ligerDialog.close();
                    parent.$(".l-dialog,.l-window-mask").hide();
                },
                icon: null
            });
            $('#btnCancel').ligerButton({
                width: 60,
                text: '取消',
                click: function () {
                    parent.$.ligerDialog.close();
                    parent.$(".l-dialog,.l-window-mask").hide();
                },
                icon: null
            });
        }
    </script>
</head>
<body>
    <div class="container">
        <div id="menu"></div>
        <div class="content">
            <form class="form-inline" action="~/Feed/Remain/Save/@ViewBag.ID" method="post" id="remainRecordInfo"></form>
            <div style="text-align:left;">
                <input type="button" id="btnSubmit" value="保存" />
                <input type="button" id="btnCancel" value="取消" />
            </div>
        </div>
    </div>
</body>
</html>
