
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <div>
        <form action="Add" method="post">
            耳号：<input id="title" name="title" type="text" /><br /><br />
            年龄：<input id="author" name="author" type="text" /><br /><br />
            描述：<textarea id="description" name="description" cols="40" rows="5"></textarea><br /><br />
            <input type="submit" value="保存" />
        </form>
    </div>
    <script src="~/Scripts/bdhm.js"></script>
</body>
</html>
